.answer {
  padding: 108px 0 74px;

  @media screen and (max-width: 425px) {
    padding: 0;
  }
  .tn-container {
    display: flex;

    @media screen and (max-width: 425px) {
      display: block;
    }
  }
  &__result {
    &-title {
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      margin-top: 48px;
      margin-bottom: 25px;
      color: #dfddd3;
    }
    &-text {
      max-width: 427px;
      font-weight: 400;
      font-size: 36px;
      line-height: 43px;

      color: #dfddd3;

      @media screen and (max-width: 425px) {
        margin-bottom: 40px;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 570px;
    margin-left: 10%;
    height: calc(100vh - (108px + 172px));

    @media screen and (max-width: 425px) {
      width: 336px;
      margin: 0;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #dfddd3;

    &:not(:nth-last-child(1)) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: 425px) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 40px;
    }
  }
  &__btn {
    .tn-btn__secondary {
      padding: 26px 65px;

      @media screen and (max-width: 425px) {
        display: flex;
        justify-content: center;
        width: 336px;
        padding: 23px 100px;
      }
    }
  }

  &__btn {
    display: flex;
    flex-direction: column;
  }
}

.answer__btn .tn-btn + .tn-btn {
  margin-top: 10px;
}
