.answer {
  padding: 108px 0 74px;

  @media screen and (max-width: 425px) {
    padding: 48px 0 25px;
  }
  .tn-container {
    display: flex;

    @media screen and (max-width: 630px) {
      display: block;
    }
  }
  &__result {
    &-title {
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      margin-bottom: 25px;
      color: #dfddd3;
    }
    &-text {
      max-width: 427px;
      font-weight: 400;
      font-size: 36px;
      line-height: 43px;

      color: #dfddd3;

      span {
        color: #d5f037;
      }

      @media screen and (max-width: 630px) {
        margin-bottom: 40px;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 570px;
    margin-left: 10%;
    min-height: calc(100vh - (108px + 172px));

    @media screen and (max-width: 630px) {
      width: auto;
      margin: 0;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #dfddd3;

    @media screen and (max-width: 425px) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 40px;
    }
  }

  .btn--none {
    display: none;
  }

  &__btn {
    @media screen and (max-width: 1200px) {
      margin-top: 10px;
    }

    .tn-btn__secondary {
      padding: 23px 65px;

      @media screen and (max-width: 1200px) {
        margin-top: 10px;
      }

      @media screen and (max-width: 425px) {
        display: flex;
        justify-content: center;
        width: 336px;
        padding: 23px 100px;
      }
    }
  }
}

// .answer__btn .tn-btn + .tn-btn {
//   margin-top: 10px;
// }
