.footer {
  @media screen and (max-width: 425px) {
    display: none;
  }
  .tn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 98px;
    border-top: 1px solid #d5f037;
  }
  &__text {
    font-size: 12px;
    line-height: 1.5;
    color: #ffffff;
    @media screen and (max-width: 425px) {
      display: none;
    }
  }

  &__text--color {
    font-size: 32px;
    line-height: 1.5;
    color: #d5f037;
    @media screen and (max-width: 425px) {
      display: none;
    }
  }
}
