.main {
  padding-top: 61px;
  @media screen and (max-width: 425px) {
    padding-top: 40px;
  }

  &__head {
    margin-bottom: 65px;
    @media screen and (max-width: 425px) {
      margin-bottom: 40px;
    }
  }

  &__bottom {
    margin-left: 40%;
    @media screen and (max-width: 425px) {
      margin-left: 0;
    }

    .tn-btn {
      margin-top: 20px;

      @media screen and (max-width: 425px) {
        margin-bottom: 43px;
        margin-top: 0;
      }
    }

    .js_btn {
      display: none;
    }
  }

  &__title {
    font-size: 192px;
    font-weight: 400;
    line-height: 1.2;
    color: #dfddd3;

    @media screen and (max-width: 425px) {
      font-weight: 400;
      font-size: 72px;
      line-height: 86px;

      margin-bottom: 119px;

      color: #dfddd3;
    }
  }

  &__text {
    font-size: 22px;
    line-height: 1.18;
    color: #dfddd3;

    &--head {
      max-width: 470px;
    }

    &--bottom {
      max-width: 500px;
    }

    @media screen and (max-width: 425px) {
      margin-bottom: 20px;
    }
  }
}
