.modal__main {
  .modal {
    &-dialog {
      .background {
        display: none;
      }
      .modal-content {
        background-color: #000000;

        &__wrapper {
          height: 100%;
          display: flex;
          flex-direction: column;
          background: rgba(0, 0, 0, 0.9);
          z-index: 2;

          @media screen and (max-width: 425px) {
            background-color: rgba(0, 0, 0, 0.9);
          }
        }
        .modal-header {
          padding: 46px 40px 0 0;

          @media screen and (max-width: 425px) {
            padding: 0;
          }

          border: none;
          .btn-close {
            background: url(/src/img/close.svg) center no-repeat;
            width: 30px;
            height: 30px;
            opacity: 1;

            @media screen and (max-width: 425px) {
              display: none;
            }

            &:focus {
              box-shadow: none;
            }
          }
        }
        .modal-body {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 670px;
          margin: 0 auto;
          z-index: 2;

          .btn-close {
            position: absolute;
            top: 34px;
            right: 20px;
            background: url(/src/img/close.svg) center no-repeat;
            width: 30px;
            height: 30px;
            opacity: 1;

            @media screen and (min-width: 426px) {
              display: none;
            }
        
            &:focus {
              box-shadow: none;
            }
          }

          &__title {
            font-weight: 400;
            font-size: 36px;
            line-height: 1.2;
            color: #dfddd3;
            margin-bottom: 10px;

            @media screen and (max-width: 425px) {
              margin-bottom: 20px;
            }
          }
          &__text {
            font-weight: 400;
            font-size: 22px;
            line-height: 1.18;
            color: #dfddd3;
            margin-bottom: 30px;

            @media screen and (max-width: 425px) {
              margin-bottom: 20px;
            }
          }
          .tn-btn__secondary {
            font-weight: 400;
            font-size: 28px;
            line-height: 1.21;
            padding: 23px 104px;

            @media screen and (max-width: 425px) {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

// ===================================================================================================
// ===================================================================================================
// ===================================================================================================

.modal__finish {
  .modal-content {
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(5px);
    padding: 0 40px;

    @media screen and (max-width: 425px) {
      padding: 0;
    }

    .modal-header {
      padding: 68px 40px 0 0;
      border: none;

      .tn-container {
        @media screen and (max-width: 425px) {
            padding: 0;
          }
      }

      @media screen and (max-width: 425px) {
        padding: 0;
      }

      .btn-close {
        background: url(/src/img/close.svg) center no-repeat;
        width: 30px;
        height: 30px;
        opacity: 1;

        @media screen and (max-width: 425px) {
          display: none;
        }

        @media screen and (max-width: 425px) {
          position: absolute;
          width: 20px;
          height: 20px;
          top: 119px;

          top: 38px;
          right: 39px;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }

    .modal-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;

      @media screen and (max-width: 425px) {
        padding: 77px 19px 29px;
      }

      .btn-close {
        position: absolute;
        top: 34px;
        right: 20px;
        background: url(/src/img/close.svg) center no-repeat;
        width: 30px;
        height: 30px;
        opacity: 1;
    
        @media screen and (min-width: 426px) {
          display: none;
        }
    
        &:focus {
          box-shadow: none;
        }
      }

      @media screen and (max-width: 1024px) {
        display: block;
      }

      .modal-body__title {
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        color: #dfddd3;
      }

      .modal-body__text {
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #dfddd3;

        @media screen and (max-width: 425px) {
          font-size: 19px;
          //   line-height: 22px;
        }
      }

      .modal__wrapper-head {
        max-width: 600px;

        @media screen and (max-width: 1024px) {
          margin-bottom: 40px;
        }

        .modal-body__title {
          margin-bottom: 20px;
        }

        // .modal-body__text {
        // }
      }

      .modal__wrapper-bottom {
        max-width: 600px;
        margin-left: 42%;

        @media screen and (max-width: 1024px) {
          margin-left: 0;
        }

        @media screen and (max-width: 425px) {
          margin: 0;
        }

        .modal-body__title {
          margin-bottom: 10px;
        }

        .modal-body__text {
          margin-bottom: 30px;

          span {
            color: #d5f037;
          }
        }

        .tn-btn__primary {
          margin-bottom: 73px;

          @media screen and (max-width: 425px) {
            margin-bottom: 0;
          }
        }
      }
    }
    .footer {
      .tn-container {
        margin: 0;
      }
    }
  }
}
