.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 102px;

  @media screen and (max-width: 425px) {
    display: block;
    margin: 0;
  }
}

.form__create--position {
  display: flex;
  margin-bottom: 20px;
}

.form__input--position {
  display: flex;
  margin-bottom: 80px;

  @media screen and (max-width: 425px) {
    margin-bottom: 62px;
  }
}

// =======================================
// RADIO BUTTON
// =========================================

.form_radio_btn {
  margin-right: 10px;
}

.form_radio_btn input[type="radio"] {
  display: none;
}
.form_radio_btn label {
  cursor: pointer;
  width: 208px;
  height: 60px;
  color: #dfddd3;
  border: 1px solid #bebebe;

  @media screen and (max-width: 425px) {
    width: 163px;
    height: 46px;
  }
}

/* Checked */
.form_radio_btn input[type="radio"]:checked + label {
  background: #d5f037;
  color: #000000;
}

.form_radio_btn:last-child {
  margin-right: 0;
}
.radio__label {
  display: flex;
  align-items: center;
  justify-content: center;
}

// ==================================================================

.form__text {
  font-size: 22px;
  line-height: 26px;

  color: #dfddd3;

  @media screen and (max-width: 425px) {
    font-size: 20px;
    margin-top: 22px;
    margin-bottom: 10px;
  }
}

.textarea--position {
  display: flex;
  flex-direction: column;
}

.form__create-text {
  width: 410px;
  color: #dfddd3;
  margin-bottom: 10px;

  @media screen and (max-width: 425px) {
    width: 336px;
  }
}

.form__product-text {
  width: 410px;
  color: #dfddd3;
  margin-bottom: 10px;

  @media screen and (max-width: 425px) {
    width: 336px;
  }
}

.form__product-create {
  width: 427px;
  height: 140px;
  margin-bottom: 80px;
  border: 1px solid #bebebe;
  color: #d5f037;
  background: #000000;

  @media screen and (max-width: 425px) {
    width: 336px;
  }
}

.form__product-create::placeholder {
  color: #313131;
}

.form__product-textarea {
  width: 427px;
  height: 140px;

  margin-bottom: 10px;

  border: 1px solid #bebebe;
  background: #000000;
  color: #d5f037;

  @media screen and (max-width: 425px) {
    width: 336px;
  }
}

.form__product-textarea::placeholder {
  color: #313131;
}

.form__button {
  font-family: "Tickerbit";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;

  margin-bottom: 80px;
  border: none;
  padding: 23px 104px;
  background: #dfddd3;
  color: #000000;

  @media screen and (max-width: 425px) {
    margin-bottom: 46px;
  }
}
